# Byte-compiled files
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
env/

# Ultralytics weights (optional)
*.pt

# Test image results
output_images/
*.jpg
*.png

# Logs and temporary files
*.log
*.tmp

# IDE-specific
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
